<app-header></app-header>
<section class="principal"> 
  <div class="app-container">
    <mat-card class="mat-card glass-panel">
      <img mat-card-image src="/../../../../../../assets/resaca.jpg" class="mat-card-image" alt="Not found image">
      <mat-card-content class="mat-card-content">
        <img mat-card-image src="/../../../../../../assets/404.png" class="mat-card-image error-img" alt="404">
      </mat-card-content>
    </mat-card>
    <div class="col-md-12 text-center">
      <button type="button" class="btn-modern" routerLink="/cocktail">Volver al pub</button>
    </div>
  </div>
</section>
<app-footer></app-footer>