<app-header></app-header>
<section class="principal"> 
  <div class="app-container">
    <mat-card class="mat-card glass-panel" *ngFor="let random of asyncDrink$ | async">
      <img mat-card-image src="{{random.strDrinkThumb }}" class="mat-card-image" [alt]="random.strDrink">
      <mat-card-content class="mat-card-content">
        <p class="title">{{ random.strDrink }}</p>
        <p><strong>Ingredientes:</strong> {{ ingredients }}</p>
        <p>{{ random.strInstructions }}</p>
      </mat-card-content>
    </mat-card>

    <div class="col-md-12 text-center">
      <button type="button" class="btn-modern" routerLink="/cocktail">Volver a busqueda</button>
    </div>
  </div>
</section>
<app-footer></app-footer>
